body .form-control {
    display: inline-block;
    width: auto;
    border-radius: 6rem;
    border: none;
    background-color: #536de4;
    color: #f1f0f1;

    transition: transform 1s, background-color 1s, color 1s;
}

body input.form-control:focus {
    box-shadow: none;
    transform: translateY(-6px);
    background-color: #f1f0f1;
    color: #000;
}

body input.form-control::placeholder {
    color: #f1f0f1
}

body input.form-control:focus::placeholder {
    color: #000
}

body {
    overflow-x: auto;
    text-align: center;
}

div.square {
    width: 150px;
    height: 150px;
    background-color: rgba(79, 81, 87, 0.25);
    border-radius: 2.2rem;
    margin: auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    background-color: #222140;
    color: #f1f0f1;
    font-size: xx-large;
    font-weight: bold;
}

/* main img {
    width: 100%;
} */