body {
    overflow-x: auto;
    text-align: center;
}

div.square {
    width: 150px;
    height: 150px;
    background-color: rgba(79, 81, 87, 0.25);
    border-radius: 2.2rem;
    margin: auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    background-color: #222140;
    color: #f1f0f1;
    font-size: xx-large;
    font-weight: bold;
}

/* main img {
    width: 100%;
} */