{% extends "layout.html" %}

{% block title %}
    {% if user.first_time == 0 %}
        Hi!
    {% else %}
        Home
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="./static/roles.css">  
    <link rel="stylesheet" href="./static/sidebar.css">  
{% endblock %}

{% block body %}
    {% if user.first_time == 0 %}
        <div class="mt-4" id="mainDiv">
            <h1 class="animate-up" style="animation-delay: 1000ms;">Hi {{ user.username }}!</h1>
            <h1 class="animate-up" style="animation-delay: 3000ms;">choose one<br>you like</h1>

            <div class="container mt-5"  style="width: 23rem;">
                <div class="row row-cols-2">
                    {% for role in roles %}
                        <div onclick="select({{ role.id }}, this)" style="cursor: pointer; animation-delay: {{ animDelays[loop.index - 1] }}ms;" class="notSelected role-up">
                            <div class="square mb-3 image-container">
                                <img src="{{ role.img_path }}" style="width: 50%;">
                            </div>
                            <h5>{{ role.name }}</h5>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script>
            function select(id, a) {
                const selectedElement = document.querySelector(".selected")
                if (selectedElement) {
                    selectedElement.className = "notSelected"
                }
                else {
                    const newDiv = document.createElement("div")
                    newDiv.innerHTML += `
                    <form action="/", method="POST">
                        <input name="role_id" type="hidden" id="roleInput">
                        <button type="submit" class="form-control animate-up button" type="submit" style="animation-delay: 500ms; top: 10rem;"><span>Start</span></button>
                    </form>`
                    document.getElementById("mainDiv").appendChild(newDiv)
                }
                a.className = "selected"
                document.getElementById("roleInput").value = id
            }
        </script>
    {% else %}
        <div> 
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/logout">Logout</a>
            </div>

            <div id="main">
                <button class="openbtn animate-down" onclick="openNav()" style="display: inline-block; float: left; border-radius: 1rem; animation-delay: 800ms;">☰</button>  
                <div style="display: inline-block;" id="divMain">
                    <h1 id="welcomeText" class="animate-down mt-5" style="animation-delay: 400ms;">Welcome, {{ user.username }}!</h1>
                    <!-- <h1 class="animate-down mt-5" style="animation-delay: 200ms;">Job50</h1>
                    <div class="input-group square animate-down" style="margin: auto; width: 20rem; height: 4rem; border-radius: 1rem; animation-delay: 600ms;">
                        <div class="image-container">
                            <img src="./static/images/search_icon.png" style="width: 1.8rem; margin-left: 1.2rem; margin-right: 0.2rem;">
                        </div>
                        <input class="form-control input-static animate-up-input" placeholder="Find your dream job..." style="background: none; color: #f1f0f1; box-shadow: none; font-size: x-large;">
                    </div>

                    <div class="mt-5">
                        <h3>Jobs for you</h3>
                        <div class="container">
                            {% for job in jobs %}
                                <div onclick="document.getElementById('job{{ job.id }}').submit()" class="mb-4 animate-down notSelected" style="display: inline-flex; margin-right: 1rem; cursor: pointer; animation-delay: {{ jobsAnimDelays[loop.index - 1] }}ms;">
                                    <form action="/job" id="job{{ job.id }}">
                                        <div class="square" style="width: 150px; height: 200px; padding-top: 1rem;">
                                            <img src="{{ roles[job.role_id - 1].img_path }}" style="width:40%;">
                                            <p class="mt-1" style="font-size: smaller;">{{ job.name }}</p>
                                            <button class="form-control button" type="submit" style="animation-delay: 300ms; top: 10rem; border-radius: 0.6rem;"><span>View</span></button>
                                        </div>
                                        <input name="job_id" type="hidden" value="{{ job.id }}">
                                    </form>
                                </div>
                            {% endfor %} 
                        </div>                    
                    </div> -->
                </div>
            </div>
        </div>

        <script>
            setTimeout(() => {
                const element = document.getElementById("welcomeText")
                const mainDiv = document.getElementById("divMain")

                if (element) {
                    element.className = "out mt-5"
                    setTimeout(() => {
                        mainDiv.removeChild(element)

                        const newDiv = document.createElement("div")
                        newDiv.innerHTML = `
                        <h1 class="animate-down mt-5" style="animation-delay: 200ms;">Job50</h1>
                        <div class="input-group square animate-down" style="margin: auto; width: 20rem; height: 4rem; border-radius: 1rem; animation-delay: 600ms;">
                            <div class="image-container">
                                <img src="./static/images/search_icon.png" style="width: 1.8rem; margin-left: 1.2rem; margin-right: 0.2rem;">
                            </div>
                            <input class="form-control input-static animate-up-input" placeholder="Find your dream job..." style="background: none; color: #f1f0f1; box-shadow: none; font-size: x-large;">
                        </div>

                        <div class="mt-5">
                            <h3 class="animate-down" style="animation-delay: 1000ms">Jobs for you</h3>
                            <div class="container">
                                {% for job in jobs %}
                                    <div onclick="document.getElementById('job{{ job.id }}').submit()" class="mb-4 role-down notSelected" style="display: inline-flex; margin-right: 1rem; cursor: pointer; animation-delay: {{ jobsAnimDelays[loop.index - 1] }}ms;">
                                        <form action="/job" id="job{{ job.id }}">
                                            <div class="square" style="width: 150px; height: 200px; padding-top: 1rem;">
                                                <img src="{{ roles[job.role_id - 1].img_path }}" style="width:40%;">
                                                <p class="mt-1" style="font-size: smaller;">{{ job.name }}</p>
                                                <button class="form-control button" type="submit" style="animation-delay: 300ms; top: 10rem; border-radius: 0.6rem;"><span>View</span></button>
                                            </div>
                                            <input name="job_id" type="hidden" value="{{ job.id }}">
                                        </form>
                                    </div>
                                {% endfor %} 
                            </div>                    
                        </div>
                        `
                        mainDiv.appendChild(newDiv)
                    }, 1000)
                }
            }, 3000)

            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
            }
        </script>
    {% endif %}
{% endblock %}

