{% extends "layout.html" %}

{% block body %}
    <div style="display: inline-block">
        <h1 class="animate-down mt-5" style="animation-delay: 200ms;">{{ type }}</h1>
        <h3 class="animate-down mt-4" style="animation-delay: 1200ms;">{{ message }}</h3>
        <button class="openbtn animate-down mt-1" onclick="window.history.back()" style="border-radius: 1rem; animation-delay: 1600ms; display: inline-block;">←</button> 
        <button class="openbtn animate-down mt-1" onclick="window.location.href = '/'" style="border-radius: 1rem; animation-delay: 1600ms;">&#8962;</button>
    </div>
{% endblock %}


